doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Aarti Rathi | Achievements
  link(rel='stylesheet' href='../static/style.css')
  link(rel='stylesheet' href='../static/stylecert.css')
  link(rel='stylesheet' media='screen and (max-width:800px)' href='../static/phone.css')
  link(rel='stylesheet' media='screen and (max-width:800px)' href='../static/phoneCert.css')
  link(rel="shortcut icon" href="../static/cup.png" type="image/x-icon")

  
nav#navbar
  #logo
    img(src='../static/img/2.png' alt='Aarti Rathi | aartirathi.com')
  ul
    li.item
      a(href='/') Home
    li.item
      a(href='#project') Achievements
    li.item
      a(href='#experience') Work Experience
    li.item
      a(href='#contact-box') Contact Me
  span#time

#logo0
  img(src='../static/img/self.jpeg' alt='Aarti Rathi | aartirathi.com')
  #intro1
      p#Intro Aarti Rathi
      p#Intro Motivated | Quick Learner | Mentor
      p#Intro Tech Enthusiast

section#cert
    h1.hpri.center Certificate || Paricipation
    #achieve

        .Item1 
            h2.hsec.center Competitive Coding
            div.box-content1
                div.long
                    img(src='../static/img/cert/hrr.png' alt='')
                    img(src='../static/img/cert/cf.png' alt='')
                    img(src='../static/img/cert/gfg.png' alt='')

                div.log
                    p.center
                        a(href="https://www.hackerrank.com/_shinchancode" target="_blank") HackerRank
                    p.center
                        a(href="https://codeforces.com/profile/_ninja_me_1" target="_blank") CodeForces
                    p.center
                        a(href="https://auth.geeksforgeeks.org/user/_shinchancode/practice/" target="_blank") GeeksForGeeks        

        .Item1 
            h2.hsec.center Scholarship
            div.box-content
                div.imgg
                    img(src='../static/img/cert/scholar.png' alt='')

                div
                    p
                        |Udchalo Scholarship
                    p
                        |Times of India scholarship
                    p
                        |Education Scholarship Scheme for Serving Army Personnel-ESSA  

            h3.center 
                a(href="https://drive.google.com/drive/folders/12oLz8uAu-4dQ4U_sqi0yeSfdxsgbnJMa" target="_blank") View Certificate
            hr          

        .Item1
            h2.hsec.center Google Cloud Training
            div.box-content
                div.imgg
                    img(src='../static/img/gcp.png' alt='')

                div
                    p.center
                        | Got introduced to GCP and more functionalities with free access to quests, skill badges and additional self- paced labs on Qwiklabs
            h3.center 
                a(href="https://drive.google.com/drive/folders/1n15ys2D5t_1H_STBwBl5iMJpColuV5gK" target="_blank") View Certificate
            hr

        .Item1
            h2.hsec.center HASH CODE
            div.box-content
                div.imgg
                    img(src='../static/img/cert/hash.jpg' alt='')

                div
                    p.center
                        | Hash Code is a team programming competition, organized by Google, for students and professionals around the world
            h3.center 
                a(href="https://drive.google.com/drive/folders/16MYPBRTBK_ox4pDQe30twEC6-W59CHrC" target="_blank") View Certificate
            hr

        .Item1
            h2.hsec.center COURSERA | CYBERSECURITY
            div.box-content
                div.imgg
                    img(src='../static/img/cert/proj.png' alt='')

                div
                    p.center
                        | Completed the course
                        | Cybersecurity Roles, Processes and Operating System Security
                    p.center
                        | Offered by IBM
                    
            h3.center 
                a(href="https://drive.google.com/drive/folders/17Qdut9kfwqhvka-hnleo-DkhVUHStlwU" target="_blank") View Certificate
            hr

        .Item1
            h2.hsec.center GOOGLE CROWDSOURCE
            div.box-content
                div.imgg
                    img(src='../static/img/cert/crowdsource.png' alt='')

                div
                    p.center
                        | Crowdsource is a crowdsourcing platform developed by Google intended to improve a host of Google services through the user-facing training
                    p.center
                        | I'm member and Google Crowdsource Influencer
                    
            h3.center 
                a(href="https://drive.google.com/drive/folders/1uTOFJVkBV5xrqxBgTqAcSwPKU8y3cq5A" target="_blank") View Certificate
            hr

        .Item1
            h2.hsec.center 30 DAYS OF GOOGLE CLOUD
            div.box-content
                div.imgg
                    img(src='../static/img/cert/30gcp.png' alt='')

                div
                    p.center
                        | 30 Days of Google Cloud program provided an opportunity to kickstart our career in cloud and get hands-on practice on Google Cloud Platform - the tool that powers apps like Google Search, Gmail and YouTube.

            h3.center 
                a(href="https://drive.google.com/drive/folders/14QLM3Idk4jfKzZUMxFRIJwAE6uywGOhP" target="_blank") View Certificate
            hr

        .Item1
            h2.hsec.center GEEKSFORGEEKS OFFER LETTER
            div.box-content
                div.imgg
                    img(src='../static/img/cert/gfg.png' alt='')

                div
                    p.center
                        | Currently content Writer at GeeksforGeeks
                    p.center
                        | Participated in Technical Content writer competition by GFG

            h3.center 
                a(href="https://drive.google.com/drive/folders/1efpnfKpRTvtujtSgHwRIJdrMFiWrBFHt" target="_blank") View Certificate
            hr

        .Item1
            h2.hsec.center HACKATHONS
            div.box-content
                div.imgg
                    img(src='../static/img/cert/hackathon.png' alt='')

                div
                    p.center
                        | I have participated in different hackathons

            h3.center 
                a(href="https://drive.google.com/drive/folders/1ksITx4YlpNto6YKbY2VyfIUlKp9BtiO4" target="_blank") View Certificates
            hr

        .Item1
            h2.hsec.center 30 Days of Kotlin campaign
            div.box-content
                div.imgg
                    img(src='../static/img/cert/30kotlin.png' alt='')

                div
                    p.center
                        | 30 Days of Kotlin with Google Developers was an initiative to improve our understanding of Kotlin and apply it in real projects using Google resources

            h3.center 
                a(href="https://drive.google.com/drive/folders/1KJLjgx9VsEWMB2sHbt37hvWzRYP5Eowl" target="_blank") View Certificate
            hr
            
        .Item1
            h2.hsec.center HackerRank Coding Assesments
            div.box-content
                div.imgg
                    img(src='../static/img/cert/hr.png' alt='')

                div
                    p.center
                        | It was a good initiative, where we can check our learning through assesments

            h3.center 
                a(href="https://drive.google.com/drive/folders/1Pq5lfd98sFJN_7Lav286m5yU3cGJPEte" target="_blank") View Certificate
            hr
            
        .Item1
            h2.hsec.center Extra Curricular Activites
            div.box-content
                div.imgg
                    img(src='../static/img/cert/eca.png' alt='')

                div
                    p.center
                        | I have been very keen to participate in different extra-curricular activities. Which includes - sports, dramatics, Community service and TAE-KON-DO

            h3.center 
                a(href="https://drive.google.com/drive/folders/1KE6FS1pfczjY8ohaTkmjdHJ47AIjtXlz" target="_blank") View Certificate
            hr

section#connect 
    h3 Connect With Me
    div#connect-box
        a(href="https://www.linkedin.com/in/aarti-rathi-a6031814b/" target="_blank") 
            img(src="../static/img/cert/linkedin.png", alt="Sponsor Image" class='spimg')
        a(href="https://api.whatsapp.com/send/?phone=917040031669&text&app_absent=0&lang=en" target="_blank") 
            img(src="../static/img/cert/wp.png", alt="Sponsor Image")
        a(href="https://twitter.com/CodeShinchan" target="_blank") 
            img(src="../static/img/cert/tw.png", alt="Sponsor Image")
        a(href="https://www.facebook.com/aarti.rathi.1710" target="_blank")
            img(src="../static/img/cert/fb.png", alt="Sponsor Image")
        a(href="https://www.instagram.com/shinchann_code/" target="_blank")
            img(src="../static/img/cert/ig.png", alt="Sponsor Image")           
        a(href="https://github.com/shinchancode?tab=stars" target="_blank")
            img(src="../static/img/cert/gitt.png", alt="Sponsor Image")           

footer
  .center
    | Aarti Rathi || Copyright &copy; www.aartirathi.com. All rights reserved
script(src='../static/index.js')


                