doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Aarti Rathi | aartirathi.com

nav#navbar
  #logo
    img(src='../static/img/2.png' alt='Aarti Rathi | aartirathi.com')
  ul
    li.item
      a(href='/') Home
    li.item
      a(href='#project') Achievements
    li.item
      a(href='#experience') Work Experience
    li.item
      a(href='#contact-box') Contact Me
  span#time

#logo0
  img(src='../static/img/self.jpeg' alt='Aarti Rathi | aartirathi.com')
  #intro1
      p#Intro Aarti Rathi
      p#Intro Motivated | Quick Learner | Mentor
      p#Intro Tech Enthusiast




section#home
  h1.hpri Welcome to My Website :)

  p
      | Hi, I am Aarti Rathi from Pune. Currently pursuing Bachelor of Engineering (2019 - 2023) from 
  p
      |ARMY INSTITUTE OF TECHNOLOGY PUNE.
  p 
      |I want to work enthusiastically in a team to achieve the goals in the organisation with devotion and hard work. To succeed in an environment of growth and excellence.
  p 
      |To be an astute learner and a best performer so that I can build an innovative career by using my skills and other significant talents. Accepting challenging opportunities to nurture my skills

section.edu
    h1.hpri.center Education
    #service
        .box
            h2.hsec.center Army Institute of Technology Pune
            div.box-content
                div.imgg
                    img(src='../static/img/clg.png' alt='')
                    p.center 
                        |(2019-2023)
                div
                    p.center
                        | Bachelor of Engineering (INFORMATION TECHNOLOGY)
                    p.center
                        | Currently in Third Year
                        hr
                        br
                    p.center
                        | Second Year (SEM-I) SGPA : 9.95/10
                    p.center
                        | First Year SGPA : 8.86/10

        
        .box
            h2.hsec.center Kendriya Vidyalaya Rangehills Khadki Pune
            div.box-content
                div.imgg
                    img(src='../static/img/schl.png' alt='')
                    p.center
                        |(2019)

                div
                    p.center
                        | Completed 12th Grade in Science (2019)
                    p.center
                        | PCM - 90%
                        hr
                        br
                    p.center
                        | Completed 10th Grade (2016)
                    p.center
                        | CGPA - 10/10 

section#experience
    h1.hpri.center Experience
    #exp
        .Item
            a(href='https://auth.geeksforgeeks.org/user/_shinchancode/articles ' target='_blank')
                img(src='../static/img/gfg.png' alt='')
            h2.hsec.center GeeksforGeeks
            div
                p.center 
                    |(12/2020 - Present)
                hr
                li
                    | Technical Content Writer
                li
                    | Wrote at least 50+ articles on DS/Algorithm and Mathematics etc
                li
                    | Improved some articles too.

        .Item
            a(href='https://www.coursera.org/account/accomplishments/specialization/7V2SFZ9YWWRL' target='_blank')
                img(src='../static/img/gcp.png' alt='')
            h2.hsec.center Google Cloud Training
            div
                p.center
                    |(01/2021 - 04/2021)
                hr
                li
                    | Got introduced to GCP and more functionalities with free access to quests, skill badges and additional self-paced labs on Qwiklabs from Google

        .Item
            a(href='https://www.qwiklabs.com/public_profiles/48dcd029-03b4-437b-9dd3-ef7d65958eb0' target='_blank')
                img(src='../static/img/qwik.png' alt='')
            h2.hsec.center GCP (QWIKLABS)
            div
                p.center
                    |(10/2020 - Present)
                hr
                li
                    | Got introduced to Computing, Application Development, Big Data and Machine Learning using Google Cloud's on training platform Qwiklabs
                li
                    | Using self- paced labs.

section#project
    h1.hpri.center Projects
    #prjt
        .Item1 
            h2.hsec.center Web Development || Resume
            div.box-content
                div.imgg
                    img(src='../static/img/html.png' alt='')

                div
                    p.center
                        | Created a responsive frontend using amazing features of CSS and HTML
                    p.center
                        | Implemented my own Resume as FrondEnd
                    hr
                    br
            p.center 
                a(href="https://drive.google.com/drive/folders/1otu4XUQzzIkDGfCDkj8JFSRmxaclJepu" target="_blank") View
            hr

        .Item1
            h2.hsec.center MEME-SHARE APP [KOTLIN]
            div.box-content
                div.imgg
                    img(src='../static/img/andr.png' alt='')

                div
                    p.center
                        | Built an app using volley API call for meme with sharing feature.
                    hr
                    br
            p.center 
                a(href="https://drive.google.com/drive/folders/1NKosDCFDbMbWv7q6VQYC5hwu-OhDuoXs" target="_blank") View
            hr

        .Item1
            h2.hsec.center MINI GAME [PYTHON]
            div.box-content
                div.imgg
                    img(src='../static/img/python.png' alt='')

                div
                    p.center
                        | Created SNAKE AND LADDER online game
                    p.center
                        | In Python (under guidance of college faculty)
                    hr
                    br
            p.center 
                a(href="https://drive.google.com/drive/folders/1zP35m2GpURFlUrjC1Ps6InTUV_WHloYU" target="_blank") View
            hr

        .Item1
            h2.hsec.center MINI Calculator [PYTHON]
            div.box-content
                div.imgg
                    img(src='../static/img/python.png' alt='')

                div
                    p.center
                        | Created a GUI based simple calculator using the Python Tkinter module
                    p.center
                        | Python with Tkinter outputs the fastest and easiest way to create GUI applications
                    hr
                    br
            p.center 
                a(href="https://drive.google.com/drive/folders/1xkztEj7XyIbLTo2TGyVuvMR07atzEqCi" target="_blank") View
            hr

            

            

section#profile-section
    h1.hpri.center My Profile Links
    #profile
        .boxx
            a(href='https://auth.geeksforgeeks.org/user/_shinchancode/articles ' target='_blank')
                img(src='../static/img/gfg.png' alt='')
        .boxx
            a(href='https://www.qwiklabs.com/public_profiles/48dcd029-03b4-437b-9dd3-ef7d65958eb0' target='_blank')
                img(src='../static/img/qwik.png' alt='')
        .boxx
            a(href='https://www.coursera.org/account/accomplishments/specialization/7V2SFZ9YWWRL' target='_blank')
                img(src='../static/img/gcp.png' alt='')
        .boxx
            a(href='https://www.hackerrank.com/_shinchancode' target='_blank')
                img(src='../static/img/hr.png' alt='')
        .boxx
            a(href='https://codeforces.com/profile/_ninja_me_1' target='_blank')
                img(src='../static/img/cf.png' alt='')
        .boxx
            a(href='https://drive.google.com/drive/folders/1gIIu54UzoV6f-Xu4afyP83hxVNyKMP8_' target='_blank')
                img(src='../static/img/idea.png' alt='')

section#contact
    h1.hpri.center Contact Me
    #contact-box
        form(action='/' method="POST")
            .form-group
                label(for='name') Name
                input#name(type='text' name='Name' placeholder='Type your name' class="input")
            .form-group
                label(for='email') Email Address
                input#email(type='email' name='Email' placeholder='Type your email address' class="input")
            .form-group
                label(for='mob') Mobile No.
                input#no-phone(type='phone' name='Mobile' placeholder='Type your Mobile no.' class="input")
            .form-group
                label(for='msg') Message
                textarea#message(name='Message' cols='30' rows='5' placeholder="More about you" class="input")
            div.sub
                button.btn
                    |Submit
                input.btn(type='reset' value='Reset')
footer
  .center
    | Aarti Rathi || Copyright &copy; www.aartirathi.com. All rights reserved
script(src='../static/index.js')
